body{
    background-image: url(champions.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

a{
    color: white;
    text-decoration: none;
}

nav.navbar{
    background:transparent;
}

ul.navbar.nav{
    align-items: center;
}

img.brand{

    width: 3rem;

}

h1.navbar-brand{
    color: black;
    font-style:initial;
}

h1.Introduction{

    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
 

}

p#Intro{

color: whitesmoke;
text-align: center;
margin-left: 20%;
font-weight: bold;
width: 50%;


}

small#Name{

    color: whitesmoke;
    text-align: center;
    margin-left: 20%;
   
}

div.Button{

    text-align: center;
    margin-top: 20px;

}